@include responsive(mobile){
    div > .about {
        padding-top: 6rem;
        & h2 {
            font-size: 2.4rem;
        }
        & p {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 2.6rem;
            padding-left: 10%;
            padding-right: 10%;
        }
    }
    div > .skill {
        padding: 1rem;
        h2 {
            font-size: 2.4rem;
            font-weight: 600;
            padding-top: 1rem;
            padding-bottom: 3rem;
        }
        &__div {
            display: grid;
            grid-template-columns:repeat(2, 1fr);
        }
    }
}
.about {
    width: 100%;
    background-color: $mainColorDark;
    color: white;
    text-align: center;
    padding-top: 6rem;
    
    & p {
        font-size: 1.6rem;
        font-weight: 400;
        padding-left: 20%;
        padding-right: 20%;
        line-height: 3.6rem;
        padding-top: 0.5rem;
    }
}
img {
    width: 8rem;
    height: 8rem;
}
.skill {
    width: 100%;
    background-color: $mainColorDark;
    color: $textColor;
    position: relative;
    justify-content: center;
    padding: 5rem;
    text-align: center;
    
    &__div {
        display: grid;
        grid-template-columns:repeat(4, 1fr);
        align-items: center;
        row-gap: 3rem;
        padding: 3rem;
    }
    &__card {
        justify-content: center;
        text-align: center;
        &__title {
            font-size: 1.6rem;
            font-weight: 400;
        }
    }
}