@include responsive(mobile){
    div > .project_card {
        flex-direction: column;
        margin-left: 2.2rem;
        margin-right: 2.2rem;
        &_image {
            display: block;
            width: 100%;
        }
        &_heading {
            width: 100%;
            padding: 0.5rem;
            & span {
                padding: 0.5rem;
            }
        }
        & .btn-group {
            grid-template-columns:repeat(2, 1fr);
            grid-row-gap: 0rem;
        }
    }
}
.project {
    width: 100%;
    min-height: 100vh;
    position: relative;
    @include themed() {
        color: t('text');
        background: t('bgLight');
    }
    overflow: hidden;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.project_card {
    width: 90%;
    @include themed() {
        color: t('text');
        background: t('bgSec');
    }
    margin-top: 3rem;
    margin-left: 5rem;
    margin-right: 5rem;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    &_image {
        width: 50%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &_heading {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        & h3 {
            font-size: 1.8rem;
            font-weight: 600;
            padding-bottom: 1rem;
        }
        & p {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 400;
            padding: 1rem;
            line-height: 2.4rem;
        }
        & span {
            text-align: center;
            padding: 1rem;
        }
        & a:-webkit-any-link {
            color: $pink;
            font-size: 1.5rem;
            font-weight: 500;
            padding: 1rem;
            cursor: pointer;
            text-decoration: underline;
        }
    }
}