.project {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: $mainColorDarkLight;
    color: $textColor;
    & h2 {
        text-align: center;
        font-size: 3rem;
        font-weight: 600;
        padding-top: 1rem;
        padding-bottom: 4rem;
    }
}
.project_card {
    width: 100%;
    background-color: $mainColorDarkSecondary;
    display: flex;
    flex-direction: row;
    margin: 1rem;
    margin-bottom: 0rem;
    padding: 1rem;
    &_image {
        width: 400px;
        height: 250px;
        img {
            width: 400px;
            height: 250px;
        }
    }
}