@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size:10px;
}

body {
  font-family: 'Poppins','Montserrat', sans-serif;
}
:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --pink: #e6045e;
  --braces: #3E00FF;
  --green: green;
  --black: black;
  --mainColorDark: #11052C;
  --mainColorDarkSecondary: #0F044C;
  --mainColorDarkLight: #141E61;
  --mainColorLight: #DDDDDD;
  --mainColorLightSecondary: #E7E6E1;
  --mainColorLightDark: #F3F4ED;
  --mainWorkColorLight: var(--white);
  --mainWorkColorDark: #12026e;;
  --text--light: black;
  --text--dark: white;
}
.theme--light{
  --workBg: var(--mainWorkColorLight);
  --bg: var(--mainColorLight);
  --bgSec: var(--mainColorLightSecondary);
  --bgLight: var(--mainColorLightDark);
  --text: var(--text--light);
}
.theme--dark{
  --workBg: var(--mainWorkColorDark);
  --bg: var(--mainColorDark);
  --bgSec: var(--mainColorDarkSecondary);
  --bgLight: var(--mainColorDarkLight);
  --text: var(--text--dark);
}