$pink: #e6045e;
$braces: #3E00FF;
$white: #fff;
$green: green;
$black: black;
$mainColorDark: #11052C;
$mainColorDarkSecondary: #0F044C;
$mainColorDarkLight: #141E61;
$mainColorLight: #DDDDDD;
$mainColorLightSecondary: #E7E6E1;
$mainColorLightDark: #F3F4ED;

$text--light: black;
$text--dark: white;


$themes: (
        light: (
                bg: $mainColorLight,
                bgSec: $mainColorLightSecondary,
                bgLight: $mainColorLightDark,
                text: $text--light,
        ),
        dark: (
                bg: $mainColorDark,
                bgSec: $mainColorDarkSecondary,
                bgLight: $mainColorDarkLight,
                text: $text--dark,
        ),
);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
